*,
before,
after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    gap: 20px;
}
.card {
    width: 350px;
    height: 500px;
    perspective: 1000px;
}

.card:hover {
    z-index: 10;
}

.content_card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
    transition: all 0.15s ease-out;
}

.content_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: all 0.15s ease-out;
    border-radius: 25px;
    mix-blend-mode: hard-light;
    background: radial-gradient(circle at 50% 0%, rgb(198, 239, 238), transparent);
}